/* /Pages/Demo.razor.rz.scp.css */
.file-upload-container[b-v1wpzer8cr] {
    max-width: 500px;
    margin: 60px auto;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.file-upload-input[b-v1wpzer8cr] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.file-upload-label[b-v1wpzer8cr] {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload-label:hover[b-v1wpzer8cr] {
    background-color: #0056b3;
}

.file-name[b-v1wpzer8cr] {
    margin-top: 15px;
    text-align: center;
    color: #6c757d;
}
/* /Pages/File/Pdf.razor.rz.scp.css */
.pdf-preview[b-zkddbq90gz] {
    width: 100%;
}

.password-prompt[b-zkddbq90gz] {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif; 
}


.password-prompt input[b-zkddbq90gz] {
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px; 
    box-sizing: border-box; 
}


.password-prompt button[b-zkddbq90gz] {
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


.password-prompt button:hover[b-zkddbq90gz] {
    background-color: #0056b3; 
}


.password-prompt button:active[b-zkddbq90gz] {
    background-color: #004085;
}
/* /Pages/Preview.razor.rz.scp.css */
.preview-container[b-wbex9azen7] {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 40px 12px;
}

